<div class="col-md-12 col-lg-12 col-xxxl-6">
    <nb-card class="actions-card">
      <nb-card-header>{{ "modificacion.title" | translate }}</nb-card-header>
      <nb-card-body>
        <nb-actions size="medium">
          <nb-action icon="person-add" routerLink='/pages/register'></nb-action>
          <nb-action icon="search-outline"></nb-action>
          <nb-action icon="email-outline"></nb-action>
          <nb-action icon="settings-2-outline"></nb-action>
          <nb-action class="col-md-4" disabled icon="bell-outline"></nb-action><nb-action>
            <nb-user name="Gama Marañon"></nb-user>
          </nb-action>
        </nb-actions>
      </nb-card-body>
    </nb-card>