<!-- login.component.html -->
<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form (ngSubmit)="login2()">
    <div class="form-group">
      <label for="email">Correo Electrónico:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit">Iniciar Sesión</button>
  </form>
</div>
